#only-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: #f9dc05;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#keyboard_broken {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: #f9dc05;
  top: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 645px) {
  #only-mobile {
    display: none;
  }
}
@media screen and (min-width: 380px) {
  #keyboard_broken {
    display: none;
  }
}

@keyframes hideSplachScreen {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: #f9dc05;
  z-index: 99;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  animation: hideSplachScreen 0.8s forwards;
}
